@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.rotate-animation {
  animation: rotate 0.8s linear 0s infinite;
}

.open-enter-from {
  transform: scaleY(0);
}
.open-enter-to {
  transform: scaleY(1);
}
.open-enter-active {
  transition: transform 0.2s ease-in-out;
}

.open-leave-to {
  transform: scaleY(0);
}
.open-leave-from {
  transform: scaleY(1);
}
.open-leave-active {
  transition: transform 0.2s ease-in-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
.fade-enter-to,
.fade-leave-from {
  opacity: 1;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease-in-out;
}
