.icyad-message {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  min-width: 380px;
  box-sizing: border-box;
  border-radius: 4px;
  transition: opacity 0.3s, transform 0.4s;
  padding: 15px 15px 15px 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  font-size: 14px;
  .icyad-message-icon {
    margin-right: 10px;
  }
}
.icyad-message-success {
  background-color: rgba($success, 0.7);
  color: $white;
}
.icyad-message-error {
  background-color: rgba($danger, 0.7);
  color: $white;
}
.icyad-message-warning {
  background-color: rgba($warning, 0.7);
  color: #e6a23c;
}
.icyad-message-info {
  background-color: rgba($gray-500, 0.7);
  color: $gray-600;
}
